/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
/.vscode
*.tmp
*.depend
*.o
*.a
*.o.d
*.o.cmd
*.a.cmd
*.ko.cmd
*.ko
*.mod
*.mod.c
*.mod.cmd
*.order
*.orig
*.so
*.symvers.cmd
*.order.cmd
.version
Module.symvers
out/
output/
obj/
dependencies/
bin/
